@use "src/styles/variables" as v;

.button {
    text-align: center;

    background-color: v.$color-purple;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;

    white-space: nowrap;
    transition: background-color 0.3s;
}

.authSubmitButton {
    width: 100%;
}

.button:hover {
    background-color: v.$color-purple-hover;
    cursor: pointer;
}
