@use "src/styles/variables.scss" as v;

.auctionsPage {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.auctionsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 1rem;
    gap: 1rem;
}

.auctionsContainer__tools {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .searchInput {
        flex-grow: 1;
    }
}

.createModal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
