@use "src/styles/variables.scss" as v;

.auctionsPage {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
}

.auctionsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}

.auctionsContainer__tools {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .searchInput {
        flex-grow: 1;
    }
}

.createModal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 40px;

    span {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        border: 5px solid transparent;
        border-top: 5px solid v.$color-purple;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }
}

.fileChoosing {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description {
    grid-column: 1 / -1;
}

.createButton {
    grid-column: 1 / -1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



@media screen and (max-width: 768px) {
    .auctionsContainer__tools {
        flex-direction: column;
        gap: 10px;
    }

    .auctionsContainer {
        padding: 0;
    }
}
