@use "src/styles/variables.scss" as v;

.auctionsPage {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
}

.auctionsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}

.auctionsContainer__tools {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .searchInput {
        flex-grow: 1;
    }
}

.createModal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .auctionsContainer__tools {
        flex-direction: column;
        gap: 10px;
    }

    .auctionsContainer {
        padding: 0;
    }
}
