@use "src/styles/variables" as v;

.headerMenu {
    background-color: #25222c;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    transition: opacity 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 v.$color-black-a25;
    overflow: hidden;
    transition: opacity 0.3s;
}

.headerMenu__button {
    padding: 15px 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.headerMenu__username {
    color: v.$color-purple;
}

.menu_icon {
    fill: v.$color-white;
    height: 20px;
    width: 20px;
}

.closed {
    display: none;
    opacity: 0;
}

.open {
    display: block;
    animation: fadeIn 0.3s;
}

.headerMenu__button:hover {
    background-color: v.$color-white-a10;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
