@use "src/styles/variables.scss" as v;

.auctionsContainer__auctions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 4px;
    flex-grow: 1;
}

.auctionCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    gap: 10px;


    .auctionCard__name {
        color: v.$color-purple;
        font-weight: bold;
    }
}

.auctionCard__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    svg {
        fill: v.$color-white-a5;
        width: 60px;
        height: 60px;
    }
}

.auctionCard__status--finished {
    color: v.$color-red;
}

.auctionCard__status--ongoing{
    color: v.$color-yellow;
}

.auctionCard__status--notStarted{
    color: v.$color-green;
}

@media screen and (max-width: 768px) {
    .auctionCard {
        img {
            height: 150px;
        }
    }

    .auctionsContainer__auctions {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

